/*Global styles*/
.body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;

}

img {
    display: block;
}
/*Global styles*/
ul {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}



                                                            /*header section*/

.header {
border-bottom: 1px solid #e7e9fc;
}

.container {
    
    width: 1158px;
    margin: 0 auto;
    padding: 0 15px 0 15px;
}

.header-container {
    display: flex;
    width: 1158px;
        margin: 0 auto;
        padding: 0 15px 0 15px;
}

.header-navigation {
display: flex;
align-items: center;

}

.header-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    margin-right: 76px
}

.header-logo-span {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.header-menu-list {
    list-style: none;
    display: flex;
    gap: 40px;
    
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
    padding: 24px 0 24px;
    display: block;

}

.nav-link:hover,
.nav-link:focus {
    color: #404bbf;
}


.header-contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
    list-style: none;
    text-decoration: none;
    margin-left: auto;
    padding: 24px 0 24px;
    
}

.header-contacts:hover,
.header-contacts:focus {
    color: #404bbf;
}

.header-contacts-list {
    list-style: none;
    display: flex;
    gap: 40px;
    
}

                                                    /*section title*/

.section-title {
    background-color: #2e2f42;
    padding: 188px 0 188px;
    
}


.main-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
    margin-bottom: 48px;
   
}

.order-btn {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    background-color: #4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    
   
}

.order-btn:hover,
.order-btn:focus {
    background-color: #404bbf;
    cursor: pointer;
}

                                                    /*second section*/


.section-first {
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
}

.strategy {
    list-style: none;
    display: flex;
    gap: 24px;
    padding: 0;
    margin: 0;
}

.first-list {
    flex-basis: calc((100% - 72px) / 4);
}

.strategy-headings {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.strategy-description {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

                                                /*second section*/


.section-second {
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-style {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.section-second-list {
    list-style: none;
    display: flex;
    gap: 24px;
}

.team-list {
    background-color: #FFFFFF;
    flex-basis: calc((100% - 3 * 24px) / 4);
    border-radius: 0px 0px 4px 4px;
}

.empl {
    padding: 32px 0;
}
.employee {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 72px;
    text-align: center;
    margin-bottom: 8px;
}

.direction {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}


                                                            /*portfolio section*/
.portfolio {
    padding-top: 120px;
    padding-bottom: 120px;
}


.portfolio-header {
    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.portfolio-list {
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
    padding: 0;
    margin: 0;
}

.portfolio-list-item {
    background-color: #FFFFFF;
    width: calc((100% - 48px) / 3);
    border-radius: 0px 0px 4px 4px;
}

.portfolio-list-item-text {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio_title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;

}

.portfolio_paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


                                                            /*footer section*/

.footer {
    background-color: #2e2f42;
    padding: 100px 0;
}

.footer-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-span {
    color: #f4f4fd;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 264px;
}

